#include "../library/common.hpp"

const int MOD = 1000000007;

class %ClassName% {
public:
  void solve(std::istream& in, std::ostream& out) {
    ios::sync_with_stdio(false);
    cin.tie(nullptr);

    int n;
    in >> n;
  }
};
